@font-face {
  font-family: 'Digital-7';
  src: url(./../fonts/digital-7.ttf) format('truetype');
}
@font-face {
  font-family: 'Digital-Dismay';
  src: url(./../fonts/digital-dismay.otf) format('opentype');
}

.clock {
  border-radius: 10px;
  // background: #00132e;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 40px;
}

.calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 33px;
  &.day {
    font-weight: bold;
    font-size: 1.5rem;
  }
  &.date {
    font-size: 2.5rem;
  }
  &.shift {
    margin-block: 10px;
    font-size: 2.25rem;
    font-weight: bold;
    font-family: 'Digital-7';
    :last-child {
      color: #1d3df3;
    }
  }
}

.hour {
  font-size: 7rem;
  margin: 0;
  padding: 0;
  top: 0;
}

.ampm {
  align-self: flex-end;
  font-size: 2rem;
  display: flex;
  gap: 10px;
  margin-block: auto;
  margin-bottom: 30px;
}

.digital {
  display: inline-block;
  position: relative;
  font-family: 'Digital-Dismay';
}

.digital {
  :first-child {
    width: 100%;
    position: absolute;
    color: #16212e;
  }
  :last-child {
    position: relative;
    color: #fffefe;
  }
  p {
    margin: 0;
  }
}

@media (max-width: 770px) {
  .calendar {
    gap: 20px;
    &.day {
      font-size: 1rem;
    }

    &.date {
      font-size: 1.25rem;
    }
  }

  .ampm {
    font-size: 1.25rem;
  }

  .hour {
    font-size: 4rem;
  }

  .clock {
    padding: 30px 50px 30px 50px;
  }
}

@media (max-width: 400px) {
  .calendar {
    gap: 20px;
    &.day {
      font-size: .8rem;
    }

    &.date {
      font-size: 1rem;
    }
  }
  .ampm {
    font-size: .8rem;
  }

  .hour {
    font-size: 3rem;
  }

  .clock {
    padding: 15px;
  }
}
